<div class="content-body">

    <mat-card class="mat-card">

        <mat-card-content>
            <div class="header">
                <h1>LOGIN</h1>
            </div>
            <div class="username-input">
                <mat-form-field class="username-field" appearance="legacy">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username">
                </mat-form-field>
            </div>
            <div class="password-input">
                <mat-form-field class="password-field" appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                </mat-form-field>
            </div>
            <div>

            </div>
            <button mat-raised-button color="primary" class="button-login" routerLink="/dashboard">LOGIN</button>
        </mat-card-content>



    </mat-card>
</div>