:root {
    --bw-color-blue-primary: #198afa;
    --bw-color-blue-secondary: #64b0fc;
    --bw-color-blue-tertiary: #EEF3FF;
    --bw-color-blue-hsla-primary:210;
    --bw-color-black-primary: #0c0c0c;
   

    --bw-color-gray-primary: #2B3238;
    --bw-color-gray-secondary: #a39fa9;
    --bw-color-gray-tertiary: #F8F9FA;
    --bw-color-gray-quaternary: #F6F5F6;
    --bw-color-gray-quinary: #232125;
    --bw-color-gray-senary:#151417;


    --bw-color-green-primary: #202C33;

    --bw-color-green-secondary: #0C1317;

    --bw-color-green-tertiary: #8696a0;
    --bw-color-green-quaternary:#25D366;


    --bw-color-black-transparent: rgb(15, 15, 17, .8);
    --bw-color-white-transparent: rgb(250, 252, 255,.8)
    --bw-color-white-primary: #FEFEFE;
    --bw-color-white-secondary: #EFEFF1;
    --bw-color-black-hsla-primary: 202;
    --bw-color-white-tertiary:#fafcff;
}