:root {
    // font family
    --bw-font-family-primary: "Inter", sans-serif;
    --bw-font-family-secondary:"Poppins", sans-serif;

    --bw-font-size-base: 1rem;
    --bw-font-letter-spacing: 0.8px;
    --bw-font-word-spacing: 15px;
}