:root {
    --pt-main-wrapper: 910px;
    --pt-main-content: var(--pt-main-wrapper) - 77px;
    overflow-x: hidden;
  
  
    /* width */
    ::-webkit-scrollbar {
      width: 12px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
  
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
  
      background-color: var(--scroll-bar);
      border-radius: 20px;
      width: 4px;
  
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {}
  }