<app-wrapper>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="">
                IMAGEM DA LOGOMARCA
            </div>
    
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    “Tudo passa. Todo dia é dia de agradecer. Recomeços são necessários. Você é incrível! ”
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <mat-form-field appearance="legacy" floatLabel="never">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-label>Buscar cliente pelo nome</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-3">
                <div class="button">
                    <button mat-raised-button class="button-raised-create" routerLink="/register" color="primary">
                        <mat-icon class="create-icon">
                            add_circle
                        </mat-icon>
                        Novo Cliente
                    </button>
                </div>
    
            </div>
        </div>
    </div>
</app-wrapper>